.form-block {
    margin-top: 100px;
    margin-left: 40px;
}

.create-header {
    font-family: 'Karma', sans-serif;
    font-size: 40px;
    color: #ffffff;
}

.create-inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));

    input {
        margin-bottom: 28px;
        height: 50px;
        width: 560px;
        background-color: #5c6a50;
        opacity: 50%;
        border: 4px solid #5c6a50;
        border-radius: 20px;
        padding: 20px;
        color: white;
    }

    input::placeholder {
        opacity: 70%;
        color: white
    }
}

.input-label {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: white;
    opacity: 50%;
    margin-bottom: 8px;
}

.images-advice {
    color: white;
    margin-bottom: 10px;
}

.create-btns-block {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
}

.create-btn {
    background-color: #5c6a50;
    padding: 13px 90px;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    width: 240px;
}

.create-btn:hover {
    background-color: #515D46;
}